*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  rgb(245, 220, 232);
    font-family:Arial, Helvetica, sans-serif;
}
 #container{
    width: 1100px;
    margin: 0px auto;
    border: 10px solid white;
    overflow: hidden;
 } 
 header{
    background: purple;
    height: 100px;
    width : 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px; 
 }
 nav ul li{
    display: inline;
    list-style: none;
    margin: 20px;
 
 }
 nav{
    background: green;
    height: 40px;
    border-bottom: 2px solid black;
   }
   .clearfix::after {
      content: '''';
      display: table;
      clear: both;

 }
 
#content{
    float: left;
    width: 65%;
    min-height: 510px;
    background: blueviolet;
    padding: 40pt;
 }

 .aside{
    float:"right"
    width: 25%;
    background: orange;
    min-height: 610px;
    padding-left: 10px;
    padding-right: 10px;
 }

 footer{
   clear: both;
   text-align: center;
   background: purple;
   color: white;
   padding: 10px;

 }

 