*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  rgb(245, 220, 232);
    font-family:Arial, Helvetica, sans-serif;
}
 #container{
    width: 1100px;
    margin: 0px auto;
    border: 10px solid white;
 } 
 header{
    background: purple;
    height: 100p;
    width : 1000px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px; 
 }
 nav ul li{
    float: left;
    list-style: none;
    margin: 20px;
    line-height: 2px;
 }
 .clearfix {
    clear: both;
 }
 nav{
    background: green;
    height: 40px;
    border-bottom: 2px solid black;
 }
 
#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: blueviolet;
    padding: 40pt;
 }

 #aside{
    float: left;
    width: calc(20% - 20px);
    background: orange;
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
 }

 